<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Main Menu</title>
        <link rel="stylesheet" href="/public/css/choose_player.css">
        <script src="/controllers/choose_player.js" defer></script>
    </head>
    <body>
        <main>
                <ul id="player_list"> 
                </ul>
                <button id="choose_player_but" disabled onclick="return_main_menu()" window.location.href="view/main_menu.html">CHOOSE EXISTING PLAYER</button>
                <button id="new_player_but" window.location.href="view/new_player.html">CREATE NEW PLAYER</button>
            </nav>
        </main>
    </body>
</html>