<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Final Score</title>
    <link rel="stylesheet" href="../public/css/final_window.css">
    <script src="../controllers/final_window.js" defer></script>
</head>
<body>
    <main>
        <div class="pixel-frame">
            <h1 id="final_score_title"> Your Final Score </h1>
            <p id="final_score_value"> 0 </p>
            <button role="link" id="back_to_menu_btn" onclick="window.location.href='../views/main_menu.html'">BACK TO MAIN MENU</button>
        </div>
    </main>
</html>