<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Main Menu</title>
        <link rel="stylesheet" href="../public/css/main_menu.css">
        <script src="../controllers/main_menu.js" defer></script>
    </head>
    <body>
        <main>
            <div class="pixel-frame">
            <h1 id="player_name"> Player Name </h1>
            <nav class="main-menu"> 
                <button role="link" id="new_game_but" onclick="window.location.href='../views/new_game.html'">NEW GAME</button>
                <button role="link" id="choose_player_but" onclick="window.location.href='../views/choose_player.html'">CHOOSE PLAYER</button>
                <button role="link" id="statistics_but" onclick="window.location.href='../views/statistics.html'">STATISTICS</button>
            </nav>
            <div>
        </main>
    </body>
</html>