<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Main Menu</title>
        <link rel="stylesheet" href="/public/css/main_menu.css">
        <script src="/controllers/main_menu.js" defer></script>
    </head>
    <body>
        <main>
            <h1 id="player_name" >
            <nav class="main-menu"> 
                <button id="new_game_but" window.location.href="view/new_game.html">NEW GAME</button>
                <button id="choose_player_but" window.location.href="view/choose_player.html">CHOOSE PLAYER</button>
                <button id="statistics_but" window.location.href="view/statistics.html">STATISTICS</button>
            </nav>
        </main>
    </body>
</html>