<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>New Game</title>
        <link rel="stylesheet" href="/public/css/new_game.css">
        <script src="/controllers/new_game.js" defer></script>
    </head>
    <body>
        <main>
            <nav class="new-game-menu"> 
                <H1>PLACEHOLDER FOR NEW GAME SETUP</H1>
            </nav>
        </main>
    </body>
</html>