<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Quiz Test</title>
<link rel="stylesheet" href="../public/css/quiz.css">
<script defer src="../controllers/quiz.js"></script>
</head>
<body>
<div class="quizOverlay" id="quizmodel">
  <div class="quiz-modal pixel-frame">
    <h2 id="quizquestion" class="questionbox">question text</h2>

<div class="timer">
  <span id="timeleft">10</span>s
</div>
    <div class="options-container" id="optionscontainer">
    </div>

    <p class="feedback" id="quizfeedback"></p>

    <button id="button" class="primary">
      next
    </button>
  </div>
</div>

</body>
</html>
