<!DOCTYPE>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Statistics</title>
        <link rel="stylesheet" href="../public/css/statistics.css">
        <script src="../controllers/statistics.js" defer></script>
    </head>
    <body>
        <main>
            <div class="pixel-frame">
            <h1 id="statistics_title"> Player Statistics </h1>
            <table id="statistics_table">
                <thead>
                    <tr>
                        <th>NAME</th>
                        <th>EASY</th>
                        <th>MEDIUM</th>
                        <th>HARD</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- Stats are here -->
                </tbody>
            </table>
            <button role="link" id="back_to_menu_but" onclick="window.location.href='../views/main_menu.html'">BACK TO MAIN MENU</button>
            </div>
        </main>
    </body>